@model CommunityInvestment.Models.spModels.MissionDetails

<div class="Scroll">
    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
        <div class="my-auto">
            <img src="~/Assets/volunteer1.png" width="50px" height="50px" class="volImg ms-2" alt="" style="border-radius: 50%;">
        </div>
        <div class="ps-3">
            <p class="mb-0">Margaret Walsh</p>
            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
            <p>Nice mission great oppertunity for peoples</p>
        </div>
    </div>
    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
        <div class="my-auto">
            <img src="~/Assets/volunteer2.png" width="50px" height="50px" class="volImg ms-2" alt="" style="border-radius: 50%;">
        </div>
        <div class="ps-3">
            <p class="mb-0">Margaret Walsh</p>
            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
            <p>Nice mission great oppertunity for peoples</p>
        </div>
    </div>
    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
        <div class="my-auto">
            <img src="~/Assets/volunteer3.png" width="50px" height="50px" class="volImg ms-2" alt="" style="border-radius: 50%;">
        </div>
        <div class="ps-3">
            <p class="mb-0">Margaret Walsh</p>
            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
            <p>Nice mission great oppertunity for peoples</p>
        </div>
    </div>
    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
        <div class="my-auto">
            <img src="~/Assets/volunteer4.png" width="50px" height="50px" class="volImg ms-2" alt="" style="border-radius: 50%;">
        </div>
        <div class="ps-3">
            <p class="mb-0">Margaret Walsh</p>
            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
            <p>Nice mission great oppertunity for peoples</p>
        </div>
    </div>

    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
        <div class="my-auto">
            <img src="~/Assets/volunteer5.png" width="50px" height="50px" class="volImg ms-2" alt="" style="border-radius: 50%;">
        </div>
        <div class="ps-3">
            <p class="mb-0">Margaret Walsh</p>
            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
            <p>Nice mission great oppertunity for peoples</p>
        </div>
    </div>
    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
        <div class="my-auto">
            <img src="~/Assets/volunteer6.png" width="50px" height="50px" class="volImg ms-2" alt="" style="border-radius: 50%;">
        </div>
        <div class="ps-3">
            <p class="mb-0">Margaret Walsh</p>
            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
            <p>Nice mission great oppertunity for peoples</p>
        </div>
    </div>
    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
        <div class="my-auto">
            <img src="~/Assets/volunteer7.png" width="50px" height="50px" class="volImg ms-2" alt="" style="border-radius: 50%;">
        </div>
        <div class="ps-3">
            <p class="mb-0">Margaret Walsh</p>
            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
            <p>Nice mission great oppertunity for peoples</p>
        </div>
    </div>
    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
        <div class="my-auto">
            <img src="~/Assets/volunteer8.png" width="50px" height="50px" class="volImg ms-2" alt="" style="border-radius: 50%;">
        </div>
        <div class="ps-3">
            <p class="mb-0">Margaret Walsh</p>
            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
            <p>Nice mission great oppertunity for peoples</p>
        </div>
    </div>
    <div class="d-flex mt-2 ms-2 bg-light rounded-2 me-2">
        <div class="my-auto">
            <img src="~/Assets/volunteer9.png" width="50px" height="50px" class="volImg ms-2" alt="" style="border-radius: 50%;">
        </div>
        <div class="ps-3">
            <p class="mb-0">Margaret Walsh</p>
            <small style="font-size: 12px;">Monday, October 21,2019,4.57 PM</small>
            <p>Nice mission great oppertunity for peoples</p>
        </div>
    </div>
</div>