@model CommunityInvestment.Models.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid g-0">
    <div class="row g-0">
        <div class="col-lg-8 col-sm-12 background">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/Assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                             class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-start"
                                style="color:#FFFFFF; max-width:592px; font-size: 43px; margin-bottom: 23.92px;">
                                Sed
                                ut perspiciatis unde omnis iste natus voluptatem.
                            </h5>
                            <p class="text-start"
                               style="max-width: 849px; color: #FFFFFF; font-size: 16px; margin-bottom: 39px;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/Assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                             class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-start"
                                style="color:#FFFFFF; max-width:592px; font-size: 43px; margin-bottom: 23.92px;">
                                Sed
                                ut perspiciatis unde omnis iste natus voluptatem.
                            </h5>
                            <p class="text-start"
                               style="max-width: 849px; color: #FFFFFF; font-size: 16px; margin-bottom: 39px;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/Assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                             class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-start"
                                style="color:#FFFFFF; max-width:592px; font-size: 43px; margin-bottom: 23.92px;">
                                Sed
                                ut perspiciatis unde omnis iste natus voluptatem.
                            </h5>
                            <p class="text-start"
                               style="max-width: 849px; color: #FFFFFF; font-size: 16px; margin-bottom: 39px;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/Assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                             class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-start"
                                style="color:#FFFFFF; max-width:592px; font-size: 43px; margin-bottom: 23.92px;">
                                Sed
                                ut perspiciatis unde omnis iste natus voluptatem.
                            </h5>
                            <p class="text-start"
                               style="max-width: 849px; color: #FFFFFF; font-size: 16px; margin-bottom: 39px;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <!-- Login Form -->
     
        <div class="col-lg-4 col-sm-12 d-flex align-items-center">
            <div class="container">
                <form asp-action="Index" method="post" class="d-flex flex-column form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control p-3" placeholder="evan.donohue@gmail.com" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control p-3" placeholder="**********" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="login-btn">Login</button>
                    <span class="text-danger">@ViewBag.ErrorMessage</span>
                    <a asp-controller="Users" asp-action="Forgot"
                       style="color: #414141; font-size: 14px; text-align:center;padding-top: 17px; text-decoration: none;">
                        Lost
                        your
                        password?
                    </a>
                    <p asp-controller="Users" asp-action="Create"
                       style="color: #414141; font-size: 14px; text-align:center;padding-top: 17px; text-decoration: none;">
                        Don’t
                        have an
                        account?<a asp-controller="Users" asp-action="Create" style="color: #2B64B1; font-size: 14px; text-decoration: none;">
                            Create an account
                        </a>
                    </p>
                    <!-- <a asp-controller="Home" asp-action="Index" style="color: #414141; text-align: center; font-size: 14px; text-decoration: none;">Privacy Policy</a> -->
                </form>
                <div class="container d-flex flex-column align-items-center justify-content-end policy"
                     style="height: 200px;">
                    <a asp-controller="Users" asp-action="Policy"
                       style="color: #414141; text-align: center; font-size: 14px; text-decoration: none;">
                        Privacy
                        Policy
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>